body {
  background-color: cyan;
}

#root {
  width: 90%;
  background-color: wheat;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  min-width: 95%;
  background-color: red;
  display: flex;
  align-items: center;
  z-index: 1;
  position: fixed;
}

#open-nav-drawer {
  height: 35px;
  width: 35px;
  border-radius: 4px;
  padding: 2px;
  background-color: white;
  display: flex;
  align-items: center;
}

#open-nav-drawer:hover {
  background-color: white;
}

#open-nav-drawer>img {
  max-width: 100%;
  height: auto;
}

header>h1 {
  text-align: center;
  font-size: 1.7em;
  flex-grow: 2;
  background-color: pink;
}

#nav-drawer {
  background-color: #111;
  height: 100%;
  width: 250px;
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: -250px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

#close-nav-drawer {
  color: #818181;
  font-size: 2em;
  align-self: flex-end;
  margin: 0 15px 10px 0;
  background-color: red;
}

#nav-links {
  overflow-y: scroll;
}

#nav-links>a {
  color: #818181;
  display: block;
  font-size: 1.2em;
  padding: 5px 5px 5px 30px;
  border-bottom: 1px solid white;
  text-decoration: none;
}

#nav-links>a:hover {
  color: #f1f1f1;
}

#main {
  width: 90%;
  background-color: lime;
  margin: 72px 0 50px 0;
}

.indented-p-list {
  background-color: pink;
  padding-left: 8%;
}

.indented-p-list>li {
  background-color: white;
}

.indented-p-list p {}

code {
  background-color: silver;
}
